{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% load crispy_forms_tags %}

{% load static%}

{% block content %}
    <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">

    <h2>Change Password</h2>

    <form method="post" style="margin: auto; width: 50%; margin-top: 50px;">
        {{ form|crispy }}
        
        {% csrf_token %}

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="" class="btn btn-secondary">Cancel</a>
        
    </form>

{% endblock %} 